<?xml version="1.0" ?>
<web-app>
	<display-name>Borrow App</display-name>
	<description>Borrow App</description>
	<servlet>
		<servlet-name>AllBorrowAppUsers</servlet-name>
		<servlet-class>AllBorrowAppUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBorrowAppUsers</servlet-name>
		<url-pattern>/borrowappusers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllBorrowAppProducts</servlet-name>
		<servlet-class>AllBorrowAppProductsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBorrowAppProducts</servlet-name>
		<url-pattern>/borrowappproducts</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllBorrowAppOrders</servlet-name>
		<servlet-class>AllBorrowAppOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBorrowAppOrders</servlet-name>
		<url-pattern>/borrowapporders</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllBorrowAppRatings</servlet-name>
		<servlet-class>AllBorrowAppRatingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBorrowAppRatings</servlet-name>
		<url-pattern>/borrowappratings</url-pattern>
	</servlet-mapping>
</web-app>
