<?xml version="1.0" ?>
<web-app>
	<display-name>Borrow App</display-name>
	<description>Borrow App</description>
	<servlet>
		<servlet-name>AllBorrowAppUsers</servlet-name>
		<servlet-class>AllBorrowAppUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBorrowAppUsers</servlet-name>
		<url-pattern>/borrowappusers</url-pattern>
	</servlet-mapping>
</web-app>
