<?xml version="1.0" ?>
<web-app>
	<display-name>Equipment Reservation</display-name>
	<description>Equipment Reservation App</description>
	<servlet>
		<servlet-name>AllEquipments</servlet-name>
		<servlet-class>AllEquipmentssServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllEquipments</servlet-name>
		<url-pattern>/equipments</url-pattern>
	</servlet-mapping>
</web-app>
